.App {
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
.content {
  flex: 15;
  overflow: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
}